@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/****************************************/
/****************BODY*****************/
/* ************************************** */

body {
  font-family: "poppins", sans-serif;
  background: linear-gradient(135deg, #3f0b3fd7, #21042cce),
    url(/imgs/thisbg.jpg);
  background-position: center;
  background-attachment: scroll;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.body {
  /* height: 100%; */
  display: block;
  /* border: 11px solid green; */
}
.row {
  margin: auto;
  max-width: 1140px;
}

/* 
form table {
  /* border: 1px solid blue; */
/* width: 60%; */
/* } */
.order {
  font-size: 25px;
  font-weight: 500;
  text-align: start;
  position: relative;
}
.order::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #3f0b3fd7, #8c0fb9ce);
}

/****************************************/
/****************INFO*****************/
/* ************************************** */
.info {
  /* border: 1px solid pink; */
  /* border-top: 5px solid #8c0fb9ce; */
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(135deg, #3f0b3fd7, #8c0fb9ce) 1;
  padding: 20px 0;
}

.info1 ul li {
  list-style: none;
}
.info1 ul li::before {
  content: "\2713";
  color: #b385c5;
  margin-right: 1%;
}
.info1,
.info2 {
  text-align: start;
  line-height: 30px;
  margin: 10px auto;
  width: 50%;
  color: #b3b2b2fb;
  background: linear-gradient(135deg, #3a0f3ad7, #30083fef);
  padding: 2%;
  /* background-image: linear-gradient(135deg, #3f0b3fd7, #8c0fb9ce) 1; */
}

/* .info1 {
  border: 1px solid aqua;
}
.info2 {
  border: 1px solid brown;
} */

/****************************************/
/****************FORM*****************/
/* ************************************** */

form {
  display: block;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 217, 0, 0.377);
  /* max-width: 800px; */
  height: auto;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.801);
  text-align: center;
  padding: 1% 1%;
  color: #3f0b3fd7;
  margin: auto;
  /* overflow-y: scroll; */
}

form table .user-details {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3% 5% 2% 5%;
  width: 90%;
}
.order-info {
  color: #3f0b3fd7;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box span {
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 35px;
  width: 100%;
  outline: none;
  /* border: 5px; */
  border: 1px solid #ccc;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #96596b;
}
/* 
.span_1_of_2.span_1_of_2 {
  width: 46.2%;
  float: left;
  margin-left: 19px;
} */
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  margin: 14px 0;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
form .gender-details .category label {
  display: flex;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #d9d9d9;
  border: 4px solid transparent;
  margin-right: 5px;
  margin-left: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.gender-details {
  width: 100%;
  /* border: 1px solid gold; */
  display: inline-block;
}
form .gender-details .category .gender {
  width: 200px;
  margin: 0 5px 0 5px;
  justify-content: space-evenly;
  /* display: block; */
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 10px auto;
  width: 600px;
}
.btn {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: linear-gradient(135deg, #3f0b3fd7, #8c0fb9ce);
}
.btn:hover {
  background: linear-gradient(-135deg, #3f0b3fd7, #8c0fb9ce);
}
/*****************************/
/******clear White Space******/
/*****************************/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/****************************************/
/****************HEADER*****************/
/* ************************************** */
.logo {
  width: 30%;
  padding-left: -35px;
}
.logo img {
  height: auto;
  width: 100px;
  margin: auto 0;
}
nav {
  background-color: #250735ea;
  position: sticky;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 100;
  height: auto;
  box-shadow: 2px 2px 2px #ae64bd56;
  white-space: nowrap;
  font-size: 85%;
}

.nav-bar ul {
  list-style: none;
  /* padding: 1% 0 0 750px; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.nav-bar ul li {
  float: left;
  width: fit-content;
  /* border: 1px solid green; */
  margin-top: 3.9%;
}

.nav-bar li a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  width: 100%;
  height: 100%;
  padding: 10px;
  /* margin-top: 14%; */
  display: block;
  text-decoration: none;
  color: #ddd4e7;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: background-color;
  text-align: center;
}

nav .nav-bar a:not(:last-child),
.button1 {
  padding: 0 15px;
}

nav .nav-bar a:hover,
.button1:hover {
  background-color: rgba(160, 127, 199, 0.95);
}
.mini-nav {
  text-align: center;
  background: rgba(204, 204, 204, 0.61);
}
/****************************************/
/****************FOOTER*****************/
/* ************************************** */

footer {
  background-color: #21022c;
  color: #eed6fa;
  padding: 1px;
  font-size: 80%;
  margin: auto;
  border: 10px solid rgba(37, 15, 44, 0.63);
  height: 100px;
}

.footer-nav {
  float: left;
}

.social-links {
  float: right;
}

.social-links li:last-child,
.footer-nav li:last-child {
  margin: 0;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  /* text-align: center; */
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

footer p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 350px;
  color: #888;
  position: relative;
}

@media only all and (max-width: 766px) {
  table {
    max-width: 100%;
  }
  form {
    margin: 0 auto 100px auto;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 90%;
    margin-right: 10%;
    padding: 0 2%;
  }
  .mini-nav {
    font-size: 80%;
  }
  .contact {
    display: none;
  }
  /* form table .user-details .category {
    display: inline-block;
  } */
  .info1,
  .info2 {
    width: 70%;
  }
  form table .user-details {
    width: 60%;
    margin-right: 20%;
  }
  .btn {
    width: 90%;
    margin: auto;
  }
  form .gender-details .category .gender {
    width: 100%;
  }
  form .gender-details .category label {
    /* display: inline-block; */
    width: 45%;
    font-size: 80%;
    font-weight: bolder;
    /* border: 1px solid green; */
  }

  .gender-details .category .dot {
    margin-left: 0;
  }
  .order {
    margin-left: 6%;
  }

  .copy {
    /* border: 1px solid gold; */
    /* width: 90%; */
    /* margin: 0 auto 2% auto; */
    text-align: start;
    display: block;
  }
  footer p {
    margin-left: 7.25%;
    width: 85%;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
