@media only screen and(max-width: 1241px) {
  .nav-bar ul li a {
    padding: 0;
    padding-right: 10%;

    font-size: 30%;
  }
  nav {
    width: 100%;
    max-height: 75px;
  }
}

@media only screen and(max-width: 1023px) {
}

@media only screen and(max-width: 767px) {
}

@media only screen and (max-width: 766px) {
  body {
    font-size: 78%;
  }
  nav {
    position: relative;
  }
  .mini-nav {
    font-size: 80%;
  }
  .fab,
  .media-icons {
    font-size: 150%;
  }
  .col:first-child {
    margin-top: 4%;
  }
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2.span_1_of_2 {
    width: 100%;
    margin-bottom: 10%;
  }
  body {
    margin-bottom: 120px;
    height: 100vh;
  }
  footer p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #888;
    position: relative;
  }
  .para.h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #9438d1, -2px -2px 2px rgb(46 17 82 / 95%);
    text-align: center;
    margin-bottom: 10px;
  }
  .money {
    margin-bottom: 19px;
    text-decoration: underline;
    text-align: center;
    font-size: 15px;
  }

  /* .nav-bar li a {
  } */
  .para-special {
    position: relative;
  }
  .para-special::after {
    position: absolute;
    display: block;
    content: "";
    margin-top: 5px;
    margin-left: 35%;
    width: 30%;
    height: 5px;
    border-radius: 19px;
    background: #9438d1;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
  }
  .rows,
  .para {
    text-align: center;
  }

  .contact.contact {
    display: none;
  }
  /* .navbars {
    display: block;
  } */
  /* #check {
    display: block;
  } */
  /* .checkbtn {
    display: block; */
  /* position: relative; */
  /* top: 0; */
  /* right: 10vw; */
  /* } */
  /* .nav-bar ul {
    position: fixed;
    width: 70%;
    height: 50vh;
    background: #330b49fb;
    top: 0;
    right: 0;
  }
  .nav-bar ul li {
    display: block;
  } */
  .nav-bar li a {
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    height: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    white-space: nowrap;
    font-size: 90%;
    margin-left: -15%;
  }

  a {
    text-transform: uppercase;
    border: 1px solid rgb(90, 90, 88);
  }
}
