@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "poppins", sans-serif, serif;
}

* {
  margin: 0;
  padding: 0;
  color: #fafcfce0;
}
.row {
  max-width: 1140px;
  padding: 0 auto;
}

.box {
  padding: 1%;
}
.watch.col img {
  height: auto;
  border-radius: 9%;
  -webkit-border-radius: 9%;
  -moz-border-radius: 9%;
  -ms-border-radius: 9%;
  -o-border-radius: 9%;
}

/****************************************/
/*****************SLIDER*****************/
/****************************************/
.slider {
  overflow: hidden;
  height: 379px;
  border-radius: 9%;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;

  left: 0;
  animation: 20s slider infinite;
  -webkit-animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 20%;
}

/****************************************/
/****************SECTION*****************/
/****************************************/
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(25, 12, 41, 0.5),
      rgba(35, 12, 41, 0.5)
    ),
    url(/imgs/thisbgnew.jpg);
  background-size: repeat;
  background-position: center;
}

/****************************************/
/****************HEADER*****************/
/* ************************************** */

.logo img {
  position: absolute;
  height: 200px;
  width: auto;
  top: -35px;
}
nav {
  background-color: #a285b1f8;
  height: 75px;
  width: 100%;
  overflow: auto;
  box-shadow: 2px 2px 2px #bfb7c98a;
}

.nav-bar ul {
  list-style: none;
  padding: 1% 0 0 500px;
  width: 100%;
  height: 75px;
}
.nav-bar ul li {
  float: left;
}

.nav-bar li a {
  width: 100%;
  padding: 20px 15px;
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: background-color;
  text-align: center;
}

.buttons .button1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: background-color;
  text-align: center;
  margin-bottom: 2%;
  background-color: #bfb7c9;
}
.button1:hover {
  background-color: rgba(160, 127, 199, 0.95);
  padding: 1%;
  box-shadow: inset 2px 2px 2px #bfb7c9, inset -2px -2px 2px #8e3091;
  width: 200%;
}
.button1.order {
  background-color: #6f3091;
}

.button1.order:hover {
  background-color: #309148;
  padding: 0.9%;
  margin-bottom: 1%;
}
.specifications div {
  position: relative;
  display: block;
  padding-left: 2%;
  padding-top: 10px;
}
.specifications ul .order1 {
  margin-top: 100px;
  text-decoration: none;
  list-style: none;
  border-radius: 12px;
  padding: 1.5%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  /*margin-bottom: 12px;
  */
  position: relative;

  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}

.specifications ul .order1:hover {
  background-color: #6f3091;
  height: 110%;
  width: 110%;
}
.specifications ul li {
  margin-bottom: 1.5%;
}
.media-icons {
  margin-top: 1%;
}
.slash {
  overflow: hidden;
  position: relative;
}

.slash .price {
  width: inherit;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  align-items: center;
  box-shadow: -2px -2px 4px #01080a, 2px 2px 6px #d1a838;
}
/* .spec {
  font-size: 110%;
} */
.specifications {
  padding: 2%;
  margin-left: 1.5%;
  position: relative;
}

nav .nav-bar a:not(:last-child),
.button1 {
  padding: 0 15px;
}

nav .nav-bar a:hover,
.button1:hover {
  background-color: rgba(160, 127, 199, 0.95);
}

/****************************************/
/****************BODY*****************/
/****************************************/
body .content {
  max-width: 70%;
  margin: 60px 10%;
}
.content {
  background-color: rgba(25, 12, 41, 0.95);
  box-shadow: 2px 2px 3px #01080a, -2px -2px 3px #030303;
  border-radius: 15px;
  padding: 2%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.content .para {
  color: #bfb7c9;
}

.para.h1 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #9438d1, -2px -2px 2px rgba(46, 17, 82, 0.95);
  text-align: start;
}
.money.money {
  color: #d1a838;
}
.content h3.para {
  color: rgba(178, 172, 187, 0.95);
}
.benefits ul li.list {
  margin-top: 1.3%;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
  font-size: 90%;
}

.benefits ul li.list::before {
  content: "\058D";
  /* font-size: 80%; */
  color: #6f3091;
  margin-right: 3px;
  margin-bottom: 20px;
}

.benefits ul li.list::after {
  content: "\2713";
  /* font-size: 80%; */
  color: #6f3091;
  margin-left: 3px;
  margin-bottom: 20px;
  font-size: 115%;
  font-weight: 110%;
}

.head {
  text-align: end;
}

/*--------------------------------------------*/
/*------------FOOTER SECTION-----------------*/
/*--------------------------------------------*/

footer {
  background-color: #21022c;
  color: #eed6fa;
  padding: 40px;
  font-size: 80%;
  position: relative;
}

/* .footer-nav,
.social-links{
  width: 90%;
  margin: auto;
} */
#media-icons {
  float: right;
  position: fixed;
  bottom: 13%;
  right: 5%;
}
.footer-nav {
  float: left;
}

.social-links {
  float: right;
}

.social-links li:last-child,
.footer-nav li:last-child {
  margin: 0;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  /* text-align: center; */
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
  transition: color 0.2s;
}

footer p {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: #888;
}
/* ......................... */
@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
