@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif, serif;
  margin: 0;
  padding: 0;
  color: #fafcfce0;
}

.row {
  max-width: 1140px;
  padding: 0 auto;
}

.box {
  padding: 1%;
}

.watch.col img {
  height: auto;
  border-radius: 9%;
  -webkit-border-radius: 9%;
  -moz-border-radius: 9%;
  -ms-border-radius: 9%;
  -o-border-radius: 9%;
}

/****************************************/
/*****************SLIDER*****************/
/****************************************/
.slider {
  overflow: hidden;
  height: 419px;
  border-radius: 9%;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;

  left: 0;
  animation: 20s slider infinite;
  -webkit-animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 19.99%;
}

/****************************************/
/****************SECTION*****************/
/****************************************/
section {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(25, 12, 41, 0.5),
      rgba(35, 12, 41, 0.5)
    ),
    url(/imgs/thisbgnew.jpg);
  background-size: repeat;
  background-position: center;
}

/****************************************/
/****************HEADER*****************/
/* ************************************** */
.logo {
  width: 30%;
  padding-left: -35px;
  margin-top: 10px;
}

.logo img {
  height: auto;
  width: 100px;
}

nav {
  background-color: #250735ea;
  position: sticky;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 100;
  height: auto;
  box-shadow: 2px 2px 2px #ae64bd8a;
}

.nav-bar ul {
  list-style: none;
  /* padding: 1% 0 0 750px; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.nav-bar ul li {
  float: left;
  width: fit-content;
  /* border: 1px solid green; */
  margin-top: 3%;
}

.nav-bar li a {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  border: 1px solid #646464c4;
  height: 100%;
  padding: 10px;
  /* margin-top: 14%; */
  display: block;
  text-decoration: none;
  color: #ddd4e7;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: background-color;
  text-align: center;
  white-space: nowrap;
}

nav .nav-bar a:not(:last-child),
.button1 {
  padding: 0 15px;
}

nav .nav-bar a:hover,
.button1:hover {
  background-color: rgba(160, 127, 199, 0.95);
}
.mini-nav {
  text-align: center;
  color: #ccc;
  background: rgba(204, 204, 204, 0.61);
}
.mini-nav p {
  color: #21022c;
  padding: 1px;
}
/* #check {
  display: none;
  margin-right: 40px;
}
.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 70px;
  margin-right: 0;
} */
/******************************/
/***********BUTTONS************/
/*****************************/
.buttons {
  margin-bottom: 15px;
}

.call.call.call {
  color: #d8d8d8;
}

.call.call.call:hover {
  color: rgba(17, 17, 17, 0.507);
  font-weight: bold;
}

.buttons .button1 {
  color: rgb(255, 255, 255);
  background: linear-gradient(-135deg, #888, #6f3091);

  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: background-color;
  text-align: center;
  margin-bottom: 2%;
  background-color: #bfb7c9;
}

.button1:hover {
  background: linear-gradient(135deg, #888, #6f3091);
  padding: 12px 5px;

  box-shadow: inset 2px 2px 2px #bfb7c9, inset -2px -2px 2px #8e3091;
  width: 200%;
}

.button1.order {
  background-color: #6f3091;
}

.button1.order:hover {
  background-color: #ddd;
  color: #21022c94;
  font-weight: bold;
  margin-bottom: 1%;
  padding: 12px 5px;
}

.specifications div {
  padding-top: 10px;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 45px;
}

.spec {
  color: #6f3091;
  font-size: 200%;
}

.specifications ul .button8 {
  background: linear-gradient(-135deg, #888, #6f3091);
  width: auto;
  height: 100%;
  text-decoration: none;
  list-style: none;
  border-radius: 12px;
  margin-top: -10px;
  padding: 2.3% 30%;
  margin: 100px auto 0 auto;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}

.specifications ul .button8:hover {
  background: linear-gradient(135deg, #888, #6f3091);
  padding: 2.3% 30%;
  margin: 100px auto 0 auto;
}
.specifications ul li {
  margin-bottom: 1.5%;
}
.media-icons {
  margin-top: 2.5%;
  margin-left: 2.5%;
}

.slash {
  overflow: hidden;
  position: relative;
  /* border: 1px solid rgba(255, 217, 0, 0.068); */
}

.slash .price {
  margin-right: 25%;
  height: 250px;
  width: 280px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  align-items: center;
  box-shadow: -2px -2px 4px #01080a, 2px 2px 6px #d1a838;
}

.specifications {
  padding: 2%;
  margin-left: 1.5%;
  position: relative;
}
/****************************************/
/****************BODY*****************/
/****************************************/
body .content {
  max-width: 100%;
  margin: 60px 10%;
}
.content {
  background-color: rgba(25, 12, 41, 0.95);
  box-shadow: 2px 2px 3px #01080a, -2px -2px 3px #030303;
  border-radius: 15px;
  padding: 2%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.content .para {
  color: #bfb7c9;
}

.para.h1 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #9438d1, -2px -2px 2px rgba(46, 17, 82, 0.95);
  text-align: start;
}
.money.money {
  color: #d1a838;
}

.content h3.para {
  color: rgba(178, 172, 187, 0.95);
}

.benefits ul li.list {
  margin-top: 1.3%;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
  font-size: 90%;
}

.benefits ul li.list::before {
  content: "\058D";
  /* font-size: 80%; */
  color: #6f3091;
  margin-right: 3px;
  margin-bottom: 20px;
}

.benefits ul li.list::after {
  content: "\2713";
  /* font-size: 80%; */
  color: #6f3091;
  margin-left: 3px;
  margin-bottom: 20px;
  font-size: 115%;
  font-weight: 110%;
}

.head {
  text-align: end;
}
.benefits {
  margin-top: 25px;
}
/*--------------------------------------------*/
/*------------MEDIA ICONS-----------------*/
/*--------------------------------------------*/

.media-icons a i,
#media-icons a i {
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.media-icons a i:hover,
#media-icons a i:hover {
  font-size: 110%;
  color: #9438d1;
}

#media-icons {
  float: right;
  position: fixed;
  bottom: 9%;
  right: 5%;
  font-size: 190%;
}

/*--------------------------------------------*/
/*------------FOOTER SECTION-----------------*/
/*--------------------------------------------*/

footer {
  background-color: #21022c;
  color: #eed6fa;
  padding: 1px;
  font-size: 80%;
  margin: auto;
  border: 10px solid rgba(37, 15, 44, 0.63);
  height: 100px;
}

.footer-nav {
  float: left;
}

.social-links {
  float: right;
}

.social-links li:last-child,
.footer-nav li:last-child {
  margin: 0;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  /* text-align: center; */
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

footer p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 350px;
  color: #888;
  position: relative;
}

/*****************************/
/*************clear White Space****************/
/*****************************/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/****************************************/
/*****************javascript*****************/
/****************************************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* ......................... */
@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
